@import '../base/typography';
@import '../base/query';
header {

	.header-text {
	    width: 65%;
	    margin: 0 auto;
        text-align: center;
        h1, h2 {
			margin: 0;
			padding: 0;
			color: rgba(0,0,0,1);
		}
		h1 {
			margin-bottom: 20px;
			font-size: 54px;
			line-height: 1.3;
			font-weight: 300;
			@media screen and (max-width: $screen-sm) {
				font-size: 30px;
			}
		}
		h2 {
			font-size: 20px;
			line-height: 1.5;
			margin-bottom: 30px;
		}
		.btn {
			padding: 15px 30px;
			color: #fff;
			border: none!important;
			font-size: 18px;
		    border-radius: 30px;
			@media screen and (max-width: $screen-sm) {
				width: 80%;
				margin: 0 auto;
			}
			&.btn-learn{
				background: rgba($brand-secondary,1);
				color: #000 !important;
				&:hover, &:focus{
					background: rgba($brand-secondary,.9) !important;
					color: #000 !important;
				}
			}
			&:hover, &:focus{
				color: #fff !important;
			}
			&.btn-demo{
				background: rgba($brand-primary,1);
				border: none;
				&:hover, &:focus{
					background: rgba($brand-primary,.9) !important;
					color: #fff !important;
				}
			}
			&:hover {
				background: $brand-primary!important;
				-webkit-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
				-moz-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
				box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
			}
		}
	}
}